body {
    padding-top: 70px;
    background-color: black;
}

.row-centered {
    text-align: center;
}

.navbar-header {
    background-color: red;
    color: black;
    box-shadow: 0px 0px 15px 10px red;
}

.navbar-header-button {
    background-color: black;
}

.navbar-header-a {
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar-header-a img {
    height: 100%;
    width: 100%;
}

.login-container {
    margin: 10%;
}

.login-register-row {
    max-width: 500px;
    text-align: left;
    margin: 0 auto 20px;
    min-width: 300px;
}

.login-tab {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.top-row {
    padding: 20px;
    padding-bottom: 10px;
}

.middle-row {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
;
}

.bottom-row {
    padding: 20px;
    text-align: right;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}